.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 24px 42px;
    border: none;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
    transition: all .4s ease;
}